body {
    margin-top: 0;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 0.9em;
    color: #444;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none; 
}

.container {
    width: 100%;
    /*display: block;*/
}
.mainlogo {

    width: 30%;
    Top: 0;
}

.logom {
    width: 350px;
    height: 140px;
}

.searchbox {
    position:absolute;
    Top: 9vh;
    Right: 10vw;
}

.searchboxword {
    position:absolute;
    Top: -1vh;
    Right: 22vw;
}


.Title {
    position:absolute;
    Top: 59vh;
    Right: 8vw;
}

.Titletext {
    padding: 10px 25px 10px 25px;
    background-color:  rgba(139,0,0, 0.6);
}
h1 {
    color: white;
}


.Links{
    background-color:  rgba(139,0,0, 1);
    height: 370px;
    width: 40%;
    float: left;
    line-height: 48px;
   
}


.mainNav a{
    position: relative;
    padding-left: 15px;
    color: white;
    padding-bottom: 3px;
    
   
}

li {
    border-bottom: 1px solid red;
    /*padding-right: 0px;*/
    margin-right: 50px;
}

.spanpos {
    float: right;
    color: white;
    right: 0vw;
    
}


.backgroundVideo {
    /*margin-right: 70px;*/
    width:60%;
    float: left;
    background-color:  rgba(139,0,0, 1);
}

.videoone {
    width: 650px;
}

.articles{
    position: relative;
    width: 75%;
    height: 100% !important;
     margin: 0 auto;   
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-gap: 3em;
}

 .headerone {
     Top: 10vh;
     Left: -10vw;
    position: absolute;
    font-size: 1.0em;
    transform:rotate(-90deg);
    width: 15%;
    padding: 10px 0px 10px 40px;
    background-color:  rgba(139,0,0, 1);
        
    
}

h2 {
    color:white;
}

.headpone {
    line-height: 30px;
    padding-bottom: 10px;
    
}

.headptwo {
    padding-right: 40px;
    text-align: right;
}


.headertwo {
    Top: 10vh;
    Left: 16vw;
    width: 7%;
    font-size: 1.0em;
    padding: 10px 20px 10px 100px;
    position:absolute;
    transform:rotate(-90deg);
    background-color:  rgba(139,0,0, 1);
}

h3 {
    color:white;
}

.acolor {
    color:red;
}

.headerthree {
    Top: 9vh;
    Left: 45vw;
    width: 13%;
    font-size: 1.0em;
    padding: 8px 0px 10px 60px;
    position:absolute;
    transform:rotate(-90deg);
    background-color:  rgba(139,0,0, 1);
    
}

h4 {
    color: white;
}

.read_more {
    float:right;
    color: red;
}

.letter {
    position: absolute;
    color: red;
    bottom: 18.5vh;
    right: 13vw;
}

.phone {
    position: absolute;
    color: red;
    bottom: 24.5vh;
    right: 13vw;
}

.speech {
    position: absolute;
    color: red;
    bottom: 12vh;
    right: 13vw;
}

h5 {
    font-size: 1.2em;
    color:  rgba(139,0,0, 1);
}
.secondonepara {
    width:60%;
    margin-top: 70px;
    padding: 30px 50px 90px 100px;
}

.secondtwopara {
    position: relative;
}

h6 {
    color: white;
}
.headersix {
    position: absolute;
    Top: -28vh;
    Right: 18vw;
    width: 11%;
    font-size: 1.0em;
    padding: 8px 0px 10px 100px;
    transform:rotate(-90deg);
    background-color:  rgba(139,0,0, 1);
    
}

.backgroundpagetwo {
    background-color: rgb(255, 102, 102);
}

.Lastarticle {
    background-color: rgb(32, 32, 32);
    position: relative;
    width: 100%;
    height: 100% !important;
     margin: 0 auto; 
    padding: 80px 80px;
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    -ms-column-count: 3;
    -o-column-count: 3;
    column-gap: 3em;
}

.sightmap {
    position: absolute;
    color: white;
    Top: 5vh;
    Left: 4vw;
}

.AoW {
    border-right: 1px solid white;
    padding-top: 20px;
    margin: 0px 60px;
    padding-bottom: 30px;
    line-height: 20px;
}

.AAF {
    border-right: 1px solid white;
    padding-bottom: 14px;
    margin: 0px 60px;
    padding-top: 10px;
    line-height: 20px;
}

#peopleid {
    position:absolute;
    Top: 24vh;
    Left: 40vw;
}

.Offices {
    padding-top: 10px;
    
    line-height: 20px;
}

.headers {
    color: white;
    padding: 10px 40px 10px 0;
}

.ptext {
    border-bottom: 1px solid green;
    color: red;
    line-height: 20px;
}

.Miniheaders{
    position: absolute;
    color: white !important;
    line-height: 20px;
    Left: 68vw;
    
}

.mailform {
    color: red;
    line-height: 20px;
    border-bottom: 1px solid green;
}
.copyrightback {
    background-color: rgb(32, 32, 32);
}
.copyright {
    padding-left: 85px;
    color:white;
}

.logos {
    position:absolute;
   width: 50px;
    height:auto;
    Top: -37vh;
    Left: 82vw;
}

#headeroffice {
    position:absolute;
    Top: 10.5vh;
    Left: 68vw;
}
.bgImage {
    padding-top: 150px;
    position: relative;
    background-image: linear-gradient(to right, orange, green , transparent), url(../images/fruit-images-1.jpg);   
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100% !important;
    height: 60vh;
    border-bottom: 15px solid rgba(54, 91, 70, 0.8);
    background-attachment: fixed;
}

.bgImageh{
    position:absolute;
    font-size: 2em;
    color: darkred;
    Top: 10vh;
    Right: 42vw;
}
.formC {
    border-radius: 5px;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    
}

/* ABOUT US*/
.Name {
    position:absolute;
    left: 20vw;
    font-size: 1.2em;
    color: darkred;
    Top: -1vh;
    Left: 31vw;
}

#name {
    padding: 5px 200px 5px 20px;
    margin-bottom: 30px;
    border-color: blue;
    background-color: transparent;
    border-radius: 10px;
}

.Email {
    position:absolute;
    font-size: 1.2em;
    color: darkred;
    Left: 31vw;
    Top: 11.9vh;
}

#email {
    padding: 5px 200px 5px 20px;
    margin-bottom: 30px;
   border-color: blue; 
    background-color: transparent;
    border-radius: 10px;
}

.Message {
    position:absolute;
    font-size: 1.2em;
    color: darkred;
    Left: 31vw;
    Top: 25vh;
}

#message {
    border: 2px solid;
    padding: 5px 200px 5px 50px;
    margin-bottom: 30px;
    border-color: blue;
    background-color: transparent;
    border-radius: 10px;
}

.sendB {
    border-color: red;
    background-color: darkred;
}

#submitButton{
    color:white;
}

#mapcontainer {
    background-color: seagreen !important;
}

.ourLocation {
    width: 40%;
    float: right;
    border: 5px solid rgba(159, 12, 16, 0.2);
    height: 288px; 
    background-color: darkgreen;
}

  #map {
    height: 288px;
}

.locatemaps {
    position: absolute;
    Top: 250vh;
    font-size: 1.5em;
}



/*Media Query for max 1600px*/

@media screen and (max-width: 1600px) {
   
    .searchboxword {
        position: absolute;
        Right: 15vw;
    }
    
    .Title {
        position: absolute;
        Top: 50vh;
        Right: 15vw;
    }
    
    .headpone {
        padding-top: 15px;
        padding-bottom: 40px;
    }
    
    .headptwo {
        padding-top: 24px;
    }
    
    .headerone {
        position: absolute;
        Top: 12vh;
    }
    
    .headertwo {
        position: absolute;
        width: 8%;
        Top: 12vh;
    }
    
    .headerthree {
        position: absolute;
        Top: 11vh;
        Left: 51vw;
    }
    
    .letter {
        position: absolute;
        Top: 73vh;
        Right: 12.5vw;
    }
    
    .phone {
        position: absolute;
        Top: 67vh;
        Right: 12.5vw;
    }
    
    .speech {
        position: absolute;
        Top: 79vh;
        Right: 12.5vw;
    }
    
    .headersix {
        position: absolute;
        width: 8%;
        Top: -25vh;
    }
    
    .logos {
        position: absolute;
        Top: -32.5vh;
        Left: 83vw;
    }
    
    .Name {
        position: absolute;
        Top: -1vh;
        Left: 35vw;
    }
    
    .Email {
        position: absolute;
        Top: 11vh;
        Left: 35vw;
    }
    
    .Message {
        position:absolute;
        Top: 22.5vh;
        Left: 35vw;
    }
    
    .locatemaps {
        position: absolute;
        Top: 235vh;
        Left: 10vw;
    }
   
}

@media only screen and (max-height: 1600px){
    
}



/*Media Query for max 700px*/
@media screen and (min-width: 700px) and (min-height: 615px) {
    
    .searchboxword {
        position: absolute;
        Right: 18vw;
        Top: -0.5vh;
    }
    
     .Title {
        position: absolute;
        Top: 62vh;
        Right: 7vw;
    }
    
       .headerthree {
        position:absolute;
        Left: 47vw;
    }
    
    
     .letter {
        position: absolute;
        Top: 92vh;
        Right: 12.5vw;
    }
    
    .phone {
        position: absolute;
        Top: 85vh;
        Right: 13vw;
    }
    
    .speech {
        position: absolute;
        Top: 100vh;
        Right: 12.5vw;
    }
    
    .headersix {
        position: absolute;
        width: 10%;
        Top: -33vh;
        padding-top: 15px;
    }
    
    .logos {
        position: absolute;
        Top: -41.5vh;
        Left: 83vw;
    }
    
        .locatemaps {
        position: absolute;
        Top: 290vh;
        Left: 2vw;
    }
    
    .formC {
        position: absolute;
        Top: 75px;
    }
    
      .Name {
        position: absolute;
        Top: -1vh;
        Left: 33vw;
    }
    
    .Email {
        position: absolute;
        Top: 14vh;
        Left: 33vw;
    }
    
    .Message {
        position:absolute;
        Top: 28.5vh;
        Left: 32vw;
    }
    
    .bgImageh {
        position: absolute;
        Top: 5vh;
    }
    
    
}

/*Media Query for Height 725px*/
@media screen and (min-height: 725px) {
    
    .Title {
        position: absolute;
        Top: 53vh;
        Right: 9vw;
    }
    
        .headerthree {
        position:absolute;
        Right: 25vw;
    }
    
     
    .letter {
        position: absolute;
        Top: 81vh;
        Right: 12.5vw;
    }
    
    .phone {
        position: absolute;
        Top: 74vh;
        Right: 13vw;
    }
    
    .speech {
        position: absolute;
        Top: 87vh;
        Right: 12.5vw;
    }
    
    .locatemaps {
        position:absolute;
        Top: 255vh;
    }
    
    .formC {
        position: absolute;
        Top: 96px;
    }
    
     .Email {
        position: absolute;
        Top: 12vh;
        Left: 33vw;
    }
    
    .Message {
        position:absolute;
        Top: 25vh;
        Left: 32vw;
    }
    
     .headersix {
        position: absolute;
        width: 10%;
        Top: -29vh;
        padding-top: 15px;
    }
    
    .logos {
        position: absolute;
        Top: -36.5vh;
        Left: 83vw;
    }
}


    
@media screen and (max-width:699px) and (min-width: 495px)  {
    
     .searchboxword {
        position: absolute;
        Right: 21vw;
        Top: -0.5vh;
    }
    
     .Title {
        position: absolute;
        Top: 60vh;
    }
    
    .headerthree {
        Left: 44vw;
    }
    
    .headertwo {
        
    }
    

